**/.venv/
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/

**/node_modules/
**/.next/
**/out/

**/*.sqlite
**/*.db
**/data/raw/
**/data/processed/
**/data/database/
**/outputs/
**/*.log

**/.streamlit/
**/.env
**/.env.*
